/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: blueviolet;
}


main {
    display: grid;
    place-items: center;
    min-width: 100vw;
    height: 100vh; 
}

.cardCV {
    background-color: white;
    border: solid black;
    border-radius: 1em;
    padding: 1rem;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.formStyle {
    text-decoration: none;
    color: orangered;
}
.formBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titreBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;

    h1{
        margin: 0;
        font-size: x-large;
    }

    p{
        margin: 0;
    }
}

.infoPerso {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;

    h1{
        margin: 0;
    }

    p{
        margin: 0;
    }
}

.infoCV {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em;

    h2{
        margin-bottom: 0.5em;
    }
    ol{
        margin: 0;
        margin-bottom: 0.5em;
    }

    ul{
        margin: 0;
    }
}

@media screen and (max-width: 850px) {
    .infoperso {
        display: none;
    }
    .infoCV {
        display: none;
    }
}